<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">

	<targets>
		<target xsi:type="File" name="otpfile"
				fileName="C:\Logs\otp-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}" />
	</targets>

	<rules>
		<logger name="TemsGroupProject.Services.EmailService" minlevel="Info" writeTo="otpfile" />
	</rules>
</nlog>